<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\main.css">
    <title>Alkena</title>
</head>
<body>
    <header>
        <div class="logo"><a href="/">Alkena</a></div>
    </header>
    <main>
        <section>
            <div class="add-site">
                <form method="post">
                    <h1>Добавление сайта</h1>
                    <input class="input_pole1" type="text" name="url_site" id="url_site" placeholder="Введите URl сайта" required>
                    <input class="input_pole2" type="text" name="title" id="title" placeholder="Введите название сайта" required>
                    <button class="knopka1" type="submit">Добавить</button>
                    <textarea class="about1" name="about" id="about" placeholder="Введите данные о сайте"></textarea required>
                </form>
            </div>
        </section>
    </main>
</body>
</html>